/* Global style start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    margin-left: 450px;
    margin-right: 450px;
}
.section-title{
    font-size: 1.30rem;
    line-height: 1.2;
    color: white;
    font-weight: 700;
}
.paragraph{
    color: white;
    font-size: 20px;
}
.
/* Global style end */


/* nav section start */
nav {}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    background-color: rgba(87, 83, 83, 0.61);  
}
nav ul li {
    margin-right:15px;
}
nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    
    
}
nav ul li a:hover{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px;
}
/* nav section end */

/* hero section start */
.hero-section{
    background-image: url(images/images-1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.banner-section{
    padding-top: 120px;
}
.banner-parcentence{
    border-radius: 50%;
    background-color: #99e54d;
    height: 250px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.banner-parcentence h2{
    font-size: 60px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 15px;
    font-family: Montserrat,sans-serif;
}
.banner-parcentence p{
    color: black;
}
.banner-section h1{
    color: white;
    font-size: 70px;
    max-width: 500px;
    margin-bottom: 20px;
}
.banner-section button{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 40px;
    background-color: #f1ae0e;
    color: white;
    border: none;
}
/* hero section end */


/* main section start */
main{
    background-color: #1a1a1a;
}

/* foot-quality-section-start */
.foot-quality{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 100px;
}
.quality-1 , .quality-2 , .quality-3{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)) , url(images/images-1.jpg);
    width:380px;
    height: 380px;
    border-radius: 50px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quality-2{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)) , url(images/images-3.jpeg);
}
.quality-3{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)) , url(images/images-4.jpg);
}
/* foot-quality-section-end */

/* about-section-start */
.main-about-section{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}
.about-sec{
    padding-bottom: 50px;
}
.about-sec h3{
    padding-bottom: 15px;
}
.about-sec p{
    padding-bottom: 15px;
    max-width: 600px;
}
.about-img-sec img{
    width: 500px;
    height: 500px;
    border-radius: 50px;

}

/* about-section-end */

/* our-menu-section start */
.our-menu-section{
    text-align: center;
    margin-top: 100px;
}
.our-menu-section h2 , .banner-text h2{
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
}
.menu-card{
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
}
.menu-card img{
    width: 580px;
    height: 500px;
    border-radius: 50px;
}
.menu-card h3{
    margin: 20px 0px;
}
.menu-card button{
    font-size: 18px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 40px;
    background-color: #99e54d;
    color: white;
    border: none;
}

/* our-menu-section end */

/* last-banner-section start */
.last-banner-section{
    width: 100%;
    height: 80vh;
    background-image: url(images/images-15.jpg);
    background-size: cover;
}
.banner-text{
    padding-top: 100px;
}
.last-banner-input input{
    width: 450px;
    height: 50px;
    border-radius: 40px;
    border: none;
    margin-top: 15px;
    padding-left: 20px;
    font-size: 20px
}
.last-banner-input input:focus{
    outline: 0px;
}
.last-banner-input button{
    background-color: #99e54d;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    margin-left: 15px;
    color: #1a1a1a;
    font-size: 18px
}
/* last-banner-section end */

/* main section end */


/* footer section start */
footer{
    background-color: #1a1a1a;
    width: 100%;
    height: 400px;
    
}
.footer-section{
    padding: 70px 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.footer-section i{
    font-size: 40px;
    background-color:#99e54d;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    color:black;
    margin-bottom: 20px;
}
.footer-section h3, p{
    margin-bottom: 15px;
}
.footer-section a{
    color: #f1ae0e;
    text-decoration: none;
}
.sub-footer{
    background-color: #333333;
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 80px;
}
/* footer section end */



